<%= turbo_frame_tag dom_id(notification) do %>
  <% visitor = notification.visitor %>

  <% group = Group.find_by(id: notification.group_id) %>
  <% visitor_chat = notification.chat_id %>
  <% unless notification.self_chat_notification? %>
    <%= link_to notification_path(notification), 
    method: :delete, 
    data: { turbo_method: :delete } do %>
      <i class="fa-solid fa-check text-accent"></i>
    <% end %>
    <%= link_to user_path(visitor) do %>
      <%= visitor.name %>さん
    <% end %>が
      <% case notification.action %>
        <% when 'join' %>
          <i class="fas fa-user-plus"></i>
          <%= link_to group.title, group_path(group) %>
          に参加しました
        <% when 'chat' %>
          <% chat = Chat.find_by(id: visitor_chat) %>
          <%= link_to group.title,  group_path(group) %>
          にチャットを送信しました
      <% end %>
      <span>(<%= "#{time_ago_in_words(notification.created_at)}前" %>)</span>
    <% end %>
  <% end %>