<%= turbo_frame_tag dom_id(notification) do %>
  <% visitor = notification.visitor %>

  <% group = Group.find_by(id: notification.group_id) %>
  <% visitor_chat = notification.chat_id %>
  <% unless notification.self_chat_notification? %>
    <%= link_to notification_path(notification), 
    method: :patch, 
    data: { turbo_method: :patch } do %>
      <i class="fa-solid fa-check"></i>
    <% end %>
    <%= link_to user_path(visitor), class: 'text-dark' do %>
      <%= visitor.name %>さんが
    <% end %>

    <span><%= "#{time_ago_in_words(notification.created_at)}前" %></span>
      <% case notification.action %>
        <% when 'join' %>
          <i class="fas fa-user-plus"></i>
          <%= link_to group.name, group_path(group),class: "font-weight-bold text-dark" %>
          に参加しました
        <% when 'chat' %>
          <i class="fas fa-comments mr-1"></i>
          <% chat = Chat.find_by(id: visitor_chat) %>
          <% chat_content = chat.body %>
          <%= link_to group.title,  group_path(group),class: "font-weight-bold text-dark" %>
          にチャットを送信しました
      <% end %>
    <% end %>
  <% end %>