<div class="row mt-5">
  <div class="col-md-9 mx-auto text-center">
    <h1><%= @group.title %>グループの参加申請一覧</h1>
    <% @permits.each do |permit| %>
    <p><%= permit.user.name %></p>
    <p><%= permit.user.introduction %></p>
    <%= link_to '加入許可', group_group_users_path(@group, permit_id: permit.id), data: { turbo_method: :post }, class: "btn btn-sm btn-success" %>
    <%= link_to '加入拒否', group_group_users_path(@group, permit_id: permit.id), data: { turbo_method: :delete }, class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
  <p class="text-center"><%= link_to "戻る", group_path(@group), class: 'text-dark font-weight-bold' %></p>
</div>
