<div class="col-md-9 mx-auto text-center mt-5 text-gray-600">
    <h1 class="text-2xl py-10 "><%= @group.title %><br>参加申請一覧</h1>
  <div class="md:w-4/5 w-11/12 mx-auto md:px-0 px-4" >
    <div class="overflow-x-auto">
      <table class="table">
    <thead>
      <tr>
        <th class="w-1/3">名前</th>
        <th>自己紹介</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @permits.each do |permit| %>
      <tr>
        <td class="p-1">
          <div class="flex items-center gap-1">
            <div class="avatar">
              <div class="mask mask-squircle w-8 h-8 md:w-12 md:h-12">
                <%= image_tag permit.user.profile_image.present? ? permit.user.profile_image.url : "default.png" %>
              </div>
            </div>
            <div>
              <div class="font-bold">
                <div>
                   <p><%= permit.user.name %></p>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="text-left p-1"> 
          <%= permit.user.introduction %>
          <br/>
        </td>
        <td class="text-right">
          <div class="mb-4"> 
            <%= link_to '許可', group_group_users_path(@group, permit_id: permit.id), data: { turbo_method: :post }, class: "rounded-lg drop-shadow-lg border-2 bg-primary border-primary text-secondary hover:bg-accent hover:drop-shadow-none px-2 py-1" %>
          </div>
          <div class="mt-4">
            <%= link_to '拒否', group_group_users_path(@group, permit_id: permit.id), data: { turbo_method: :delete }, class: "text-primary rounded-lg border-2 border-primary hover:bg-gray-200 px-2 py-1" %>
          </div>
        </td>
      </tr>
      <tr></tr>
      <% end %>
    </tbody>
  </table>
  <div>
      <%= link_to group_path(@group), class: "btn fixed bottom-40 right-12 rounded-full w-14 py-7 text-primary text-center" do %><i class="fa-solid fa-chevron-left fa-lg"></i><% end %>  
  </div>
</div>
</div>