<!-- app/views/users/_settings_form.html.erb -->

<div class="text-black">
<%= form_for(current_user, url: user_registration_path, method: :put, remote: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: current_user %>
  <div class="mb-4">
    <div class="flex">
      <%= f.label '名前', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <span class="text-red-400 text-sm ml-2">※必須</span>
    </div>
    <%= f.text_field :name, class: "form-input block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" %>
  </div>

  <div class="mb-4">
    <div class="flex">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <span class="text-red-400 text-sm ml-2">※必須</span>
    </div>
    <%= f.email_field :email, class: "form-input block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" %>
  </div>

  <div class="mb-4">
    <div class="flex">
      <%= f.label '自己紹介', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <span class="text-gray-400 text-sm ml-2">※20文字以内</span>
    </div>
    <%= f.text_area :introduction, class: "form-input block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" %>
  </div>

  <div class="mb-4">
    <div>
      <%= f.label 'プロフィール画像' %>
    </div>
        <div>
          <%= f.file_field :profile_image, class: 'm-2 file-input file-input-bordered file-input-sm w-full max-w-xs file-input-primary', accept: 'image/*' %>
          <%= f.hidden_field :profile_image_cache %>
        </div>
        <div class='mt-3 mb-3'>
          <%= image_tag current_user.profile_image.url,
                        class: 'rounded-circle',
                        id: 'preview',
                        size: '100x100' %>
        </div>
  </div>

  <div class="flex items-center justify-end mt-4">
    <%= f.submit "保存する", class: "text-base font-medium text-center text-secondary transition duration-500 ease-in-out transform bg-primary rounded-xl hover:bg-accent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 py-2 px-4 rounded" %>
  </div>
<% end %>
</div>