<div class="container mx-auto mt-8 text-gray-600">
  <h1 class="text-2xl font-bold ml-3">Myカレンダー</h1>
  <div class="event-date-header ml-3 mt-5 mb-3">
    <p><%= @selected_date.strftime("%Y年%m月%d日") %></p>
    <p>予定一覧</p>
  </div>

  <div class="event-list mb-5 px-5">
    <% if @events_for_selected_date.empty? %>
      <p>イベントはありません。</p>
    <% else %>
      <%= turbo_frame_tag 'events_for_date' do %>
        <ul>
          <div class="overflow-hidden">
            <% @events_for_selected_date.each do |event| %>
              <li class="event-item my-2">
                <div class="flex justify-between items-center">
                  <div class="event-details bg-secondary rounded-lg p-2 text-gray-600 w-full mr-5">
                    <div class="event-time">
                      <% if event.start_time.to_date == event.end_time.to_date %>
                        <%= event.start_time.strftime('%H:%M') %> ~ <%= event.end_time.strftime('%H:%M') %>
                      <% else %>
                        <%= event.start_time.strftime('%m月%d日 %H:%M') %> ~ <%= event.end_time.strftime('%m月%d日 %H:%M') %>
                      <% end %>
                    </div>
                    <div class="event-title">
                      タイトル: <%= link_to event.title, event_path(event, group_id: event.group_id), data: { turbo_frame: '_top' } %>
                    </div>
                    <div class="event-description">
                      内容: <%= event.description %>
                    </div>
                    <div class="flex items-center justify-between">
                      <div>
                        グループ:
                        <%= event.group.title %>
                      </div>
                      <div>
                       <%= link_to group_events_path(group_id: event.group_id), data: { turbo_frame: '_top' } do%><i class="fa-solid fa-users btn btn-sm pt-2" aria-hidden="true"></i><% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </div>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to users_mypage_path, class: "btn fixed buttom-28 right-12 rounded-full w-14 py-7 text-primary text-center" do %><i class="fa-solid fa-chevron-left fa-lg"></i><% end %>  
  </div>
</div>