<div class="navbar bg-primary text-secondary">
  <div class="flex-none md:space-x-1 space-x-0">
    <!-- グループ選択 -->
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <!-- Page content here -->
      <label for="my-drawer" class="btn btn-primary drawer-button hover:bg-accent hover:drop-shadow-none">
      <i class="mx-2 fa-regular fa-calendar-check fa-xl text-secondary "></i></label>
    </div> 
    <div class="drawer-side z-40">
      <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-60 md:w-80 min-h-full bg-secondary text-gray-600">
        <li class="menu-title hover:text-accent transition-all duration-300">
          <div class="collapse bg-base-200">
            <input type="checkbox" class="peer" /> 
            <div class="collapse-title">
              <i class="fa-solid fa-plus"></i>&nbsp;グループを作る
            </div>
            <div class="collapse-content"> 
              <%= render 'groups/new'%>
            </div>
          </div>
        </li>
        <li class="menu-title font-semibold"><i class="fa-solid fa-caret-down">&nbsp;グループを選ぶ</i></i></li>
          <% if @user_groups.present? %>
            <% @user_groups.each do |group| %>
              <li>
                <%= link_to group.title, group_events_path(group), class: "ml-2 hover:text-accent transition-all duration-300" %>
              </li>
            <% end %>
          <% end %>
      </ul>
      </div>
    </div>
  <!-- 通知 -->
  <div class="dropdown">
    <div tabindex="0" role="button" class="btn btn-primary hover:bg-accent hover:drop-shadow-none">
      <div class="indicator">
        <%= render 'notifications/notification_count' %>
          <i class="fa-solid fa-bell fa-xl p-2"></i></div>
          </div>
      <ul tabindex="0" class="dropdown-content z-30 menu p-2 shadow bg-secondary rounded-box w-64 text-gray-600">
        <li class="menu-title"><i class="fa-solid fa-bell">&nbsp;通知</i></li>
          <%= turbo_frame_tag 'notifications' do %>
            <% if @notifications.present? && @notifications.reject(&:self_chat_notification?).any? %>
              <li class="menu-title py-2">
                <%= link_to destroy_all_notifications_path, remote: true, data: { turbo_method: :delete }, class: 'text-dark py-0.5' do %>
                  <i class="fa-solid fa-list-check text-accent"></i>&nbsp;全て既読にする
                <% end %>
              </i>
              <% @notifications.each do |notification| %>
                <i class="py-2"><%= render 'notifications/notification', notification: notification %></i>
              <% end %>
                <% else %>
                <%= render 'notifications/no_notification' %>
           <% end %>
          <% end %>
      </ul>
   </div>
</div>

  <!-- ホームボタン&ユーザー名表示 -->
<div class="flex-1 mx-2">
  <%= link_to current_user.name, users_mypage_path, class: "btn btn-ghost text-base hover:text-accent hover:drop-shadow-none md:text-xl" %>
</div>

  <!-- ハンバーガーメニュー -->
<div class="flex-none">
  <div class="drawer drawer-end">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <label for="my-drawer-4" class="drawer-button btn btn-primary hover:bg-accent hover:drop-shadow-none"><i class="fa-solid fa-bars fa-xl cursor-pointer" ></i></label>
    </div> 
    <div class="drawer-side z-40">
      <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-60 md:w-80 min-h-full bg-primary text-base-content">
        <li class="menu-title">Menu</li>

        <li><%= link_to '#', class: "ml-2 hover:text-accent transition-all duration-300", onclick: "closeDrawer();my_modal_3.showModal()" do %>
          <i class="fa-solid fa-gear"></i>&nbsp;アカウント設定<% end %>
          <dialog id="my_modal_3" class="modal">
          <div class="modal-box z-20 fixed left-1/2 transform -translate-x-1/2">
            <form method="dialog">
              <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 text-gray-600">✕</button>
            </form>
            <%= render 'users/settings_form' %>
          </div>
        </dialog>
          </li>

          <!-- モーダルの外側を押しても閉じるように設定 -->
          <script>
          // ハンバーガーメニューを閉じる関数
          function closeDrawer() {
            var checkbox = document.getElementById('my-drawer-4');
            if (checkbox.checked) {
              checkbox.checked = false;
            }
            // モーダルを開く処理を遅らせる
            setTimeout(function() {
              var modal = document.getElementById('my_modal_3');
              if (modal) {
                modal.showModal();
              }
            }, 300); // 300ミリ秒後に実行
          }

            // モーダルの要素を取得
            var modal = document.getElementById('my_modal_3');
      
            // モーダルの外側をクリックしたときにモーダルを閉じる
            window.onclick = function(event) {
              if (event.target === modal) {
                modal.close();
              }
            }
          </script>

        <li><%= link_to root_path, class: "ml-2 hover:text-accent transition-all duration-300" do %>
          <i class="fa-solid fa-house"></i>&nbsp;ホーム画面<% end %></li>
        <li><%= link_to destroy_user_session_path, class: "ml-2 hover:text-accent transition-all duration-300" do %>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;ログアウト<% end %></li>
      </ul>
    </div>
 </div>
</div>
</div>
</div>





