<div class="container">
  <h1 class="text-3xl font-bold"><%= @group.title %></h1>
  <p><%= @date.strftime('%Y-%m-%d') %></p>
  <p>予定一覧</p>
  <!-- イベント追加ボタン -->
  <div class="add-event-button">
    <%= link_to new_group_event_path(group_id: @group.id), class: "add-event-link" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <ul>
    <% @events.each do |event| %>
      <li>
        <%= event.start_time.strftime('%H:%M') %> ~ <%= event.end_time.strftime('%H:%M') %>:
        <%= link_to event.title, event %>
        <%= link_to '<i class="fas fa-trash"></i>'.html_safe, event, data: { "turbo-method": :delete }, data: { confirm: 'このイベントを削除してよろしいですか？' }, class: "text-red-500" %>
      </li>
    <% end %>
  </ul>

  <div class="mt-4">
    <%= link_to 'カレンダーに戻る', group_events_path(group_id: @group.id), class: "btn btn-primary" %>
  </div>
</div>