<div class="antialiased bg-gray-100 w-full h-full text-gray-600">
  <div class="container px-6 mx-auto flex py-2">
    <div class="flex items-center pr-10 mt-6">
      <h3 class="text-2xl font-semibold l eading-6 lg:text-4xl"><%= @group.title %></h3>
    </div>
    <ul class="menu menu-horizontal bg-white rounded-box mt-6 items-center">
      <li>
        <label for="my_modal_7" class="tooltip" data-tip="グループ名変更">
          <i class="fa-solid fa-pencil fa hover:text-accent" aria-hidden="true"></i>
        </label>

        <input type="checkbox" id="my_modal_7" class="modal-toggle" />
        <div class="modal flex items-center justify-center" role="dialog">
          <div class="modal-box">
            <%= render 'groups/edit' %>
          </div>
          <label class="modal-backdrop" for="my_modal_7">Close</label>
        </div>
      </li>
      <div class="border-r inline-flex h-6"></div>
      <li>
        <%= link_to(group_path(@group), class: "tooltip", "data-tip" => "メンバー") do %>
          <i class="fa-solid fa-users fa hover:text-accent" aria-hidden="true"></i>
        <% end %>
      </li>
      <div class="border-r inline-flex h-6"></div>
      <li>
        <%= link_to(group_chats_path, class: "tooltip", "data-tip" => "チャット") do %>
          <i class="fa-solid fa-comments fa hover:text-accent" aria-hidden="true"></i>
        <% end %>
      </li>
      <div class="border-r inline-flex h-6"></div>
      <li>
        <%= link_to(new_group_event_path(group_id: @group.id), class: "tooltip", "data-tip" => "イベント作成") do %>
          <i class="fa-solid fa-plus fa hover:bg-accent px-1.5 py-1.5 rounded-full overflow-auto border border-secondary text-secondary bg-primary"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div>
    <%= turbo_frame_tag 'calendar' do %>
      <%= month_calendar events: @events do |date, events| %>
        <%= link_to date.day, daily_schedule_events_path(date: date, group_id: @group.id), class:"inline-flex w-6 h-6 items-center justify-center cursor-pointer text-center leading-none rounded-full transition ease-in-out duration-100 hover:bg-sky-200 font-medium", data: { turbo_frame: '_top' } %>
          <div class="overflow-hidden">
            <% events.first(2).each do |event| %>
                <%= link_to event_path(event, group_id: @group.id), data: { turbo_frame: '_top' } do %>
                  <div class="px-1 py-1 rounded-lg mt-0.5 overflow-auto border border-sky-100 text-gray-600 bg-sky-100" >
                    <p class="text-xs truncate leading-tight"><%= event.title %></p>
                  </div>
                <% end %>
            <% end %>

            <% if events.size > 2 %>
              <div class="px-1 py-1 text-primary text-xs">
                <%= link_to "+#{events.size - 2} more", daily_schedule_events_path(date: date, group_id: @group.id), class: "text-sm truncate leading-tight", data: { turbo_frame: '_top' } %>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
