<div class="antialiased bg-gray-100 w-full h-full">
  <div class="container px-6 mx-auto flex justify-between py-4">
      <h3 class="text-lg font-semibold text-gray-600 l eading-6 lg:text-5xl"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><%= @group.title %></font></font></h3>
    <div class="flex space-x-3 text-gray-600">
      <div class="flex flex-col">
        <%= link_to group_path(@group), class: "rounded-lg drop-shadow-lg bg-yellow-100 hover:bg-yellow-300 hover:drop-shadow-none px-4 py-3", title: "グループメンバー" do %>
        <i class="fa-solid fa-users fa-xl" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class="flex flex-col">
        <%= link_to group_chats_path, class: "rounded-lg drop-shadow-lg bg-yellow-100 hover:bg-yellow-300 hover:drop-shadow-none px-4 py-3", title: "グループチャット" do %>
          <i class="fa-solid fa-comments fa-xl" aria-hidden="true"></i>
        <% end%>
      </div>
      <div class="flex flex-col">
        <%= link_to new_group_event_path(group_id: @group.id), class: "rounded-lg drop-shadow-lg bg-yellow-100 hover:bg-yellow-300 hover:drop-shadow-none px-4 py-3", title: "イベント作成" do %>
          <i class="fa-solid fa-plus fa-xl"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <%= turbo_frame_tag 'calendar' do %>
      <%= month_calendar events: @events do |date, events| %>
        <%= link_to date.day, daily_schedule_events_path(date: date, group_id: @group.id), class:"inline-flex w-6 h-6 items-center justify-center cursor-pointer text-center leading-none rounded-full transition ease-in-out duration-100 hover:bg-blue-200", data: { turbo_frame: '_top' } %>
          <div class="overflow-hidden">
            <% events.first(2).each do |event| %>
                <%= link_to event_path(event, group_id: @group.id), data: { turbo_frame: '_top' } do %>
                  <div class="px-1 py-1 rounded-lg mt-1 overflow-auto border border-blue-100 text-blue-800 bg-blue-100">
                    <p class="text-sm truncate leading-tight"><%= event.title %></p>
                  </div>
                <% end %>
            <% end %>

            <% if events.size > 2 %>
              <div class="px-1 py-1 text-blue-800">
                <%= link_to "+#{events.size - 2} more", daily_schedule_events_path(date: date, group_id: @group.id), class: "text-sm truncate leading-tight", data: { turbo_frame: '_top' } %>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
