<div class="flex items-center justify-center bg-gray-100">
  <div class="bg-white py-6 mt-10 rounded-md px-10 max-w-lg shadow-md">
    <h1 class="text-center text-lg font-bold text-gray-600">
      イベント作成
    </h1>
    <p class="text-sm text-gray-500 text-center w-5/6">
      <%= @group.title %>のイベントを作成しよう
    </p>
    <%= form_with(model: @event, url: group_events_path(@group, @event), local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="rounded-lg w-full h-12 px-4">
        <div>
          <div class="title">
            <%= f.label :title %>
            <%= f.text_field :title, autofocus: true, id: "title", class: "block w-full px-5 py-3 text-base text-neutral-600 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" %>
          </div>
        </div>

        <div class="time">
          <%= f.label :start_time %>
          <%= f.datetime_field :start_time, class: "block w-full px-5 py-3 text-base text-neutral-600 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" %>
        </div>

        <div class="time">
          <%= f.label :end_time %>
          <%= f.datetime_field :end_time, class: "block w-full px-5 py-3 text-base text-neutral-600 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" %>
        </div>

        <div class="description">
          <%= f.label :description %>
          <%= f.text_area :description, class: "block w-full px-5 py-3 text-base text-neutral-600 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300", row: "10", style: "height: 200px" %>
        </div>

        <div class="flex flex-col mt-4 lg:space-y-2">
          <%= f.submit class: "bg-yellow-100 text-gray-600 rounded-md hover:bg-yellow-300 font-semibold px-4 py-3 w-full" %>
        </div>
      </div>
    <% end %>
  </div>
</div>