<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="bg-white py-6 rounded-md px-10 max-w-lg shadow-md space-y-5">
    <div class="space-y-5">
      <div>
        <p class="text-lg text-gray-600 px-1">タイトル</p>
        <p class="block w-full px-5 py-3 text-lg text-neutral-600 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"> <%= @event.title %></p>
      </div>
      <div>
        <p class="text-lg text-gray-600 px-1">開始</p>
        <p class="block w-full px-5 py-3 text-lg text-neutral-600 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"><%= @event.start_time.strftime("%Y-%m-%d %H:%M") %></p>
      </div>

      <div>
        <p class="text-lg text-gray-600 px-1">終了</p>
        <p class="block w-full px-5 py-3 text-lg text-neutral-600 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"><%= @event.end_time.strftime("%Y-%m-%d %H:%M") %></p>
      </div>

      <div>
        <p class="text-lg text-gray-600 px-1">内容</p>
        <p class="block w-full px-5 py-3 text-lg text-neutral-600 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300", row: "10", style: "height: 150px"><%= @event.description %></p>
      </div>

      <div class="flex space-x-3 text-gray-600 justify-center">
        <div class="flex flex-col">
          <%= link_to group_events_path(@group), class: "rounded-lg drop-shadow-lg bg-yellow-100 hover:bg-yellow-300 hover:drop-shadow-none px-5 py-3", title: "戻る" do %>
            <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="flex flex-col">
          <%= link_to edit_event_path(@event, group_id: @group.id), class: "rounded-lg drop-shadow-lg bg-yellow-100 hover:bg-yellow-300 hover:drop-shadow-none px-4 py-3", title: "イベント編集" do %>
            <i class="fa-solid fa-pencil" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="flex flex-col">
          <%= link_to event_path(@event, group_id: @group.id), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "rounded-lg drop-shadow-lg bg-yellow-100 hover:bg-yellow-300 hover:drop-shadow-none px-4 py-3", title: "イベント削除" do %>
            <i class="fa-solid fa-trash" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
