<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="bg-white py-6 rounded-md px-10 w-96 shadow-md space-y-5 text-gray-600 text-sm">
    <div class="flex items-center">
      <p class="px-1">グループ名：</p>
      <%= link_to group_events_path(group_id: @group.id) do %>
        <p class="link link-primary"><%= @group.title %></p>
      <% end %>
    </div>
    <div class="space-y-5">
      <%= turbo_frame_tag dom_id(@event) do %>
        <div>
          <p class="px-1">タイトル</p>
          <p class="block w-full px-5 py-3 border border-transparent rounded-lg bg-gray-50"> <%= @event.title %></p>
        </div>
        <div>
          <p class="px-1">開始</p>
          <p class="block w-full px-5 py-3  border border-transparent rounded-lg bg-gray-50"><%= @event.start_time.strftime("%Y-%m-%d %H:%M") %></p>
        </div>

        <div>
          <p class="px-1">終了</p>
          <p class="block w-full px-5 py-3 border border-transparent rounded-lg bg-gray-50"><%= @event.end_time.strftime("%Y-%m-%d %H:%M") %></p>
        </div>

        <div>
          <p class="px-1">内容</p>
          <p class="block w-full px-5 py-3  border border-transparent rounded-lg bg-gray-50", style="row: 10; height: 150px;"><%= @event.description %></p>
        </div>

        <div class="flex flex-col items-center mt-3">
          <%= link_to edit_event_path(@event, group_id: @group.id), class: "w-3/4 rounded-lg drop-shadow-lg bg-primary text-secondary hover:bg-accent hover:drop-shadow-none px-4 py-3", title: "イベント編集" do %>
            <div class="flex items-center justify-center">
              <i class="fa fa-pencil fa-sm px-1" aria-hidden="true"></i>
              <p class="text-xs">編集</p>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="flex flex-col items-center">
        <%= link_to event_path(@event, group_id: @group.id), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "w-3/4 rounded-lg drop-shadow-lg bg-secondary text-primary hover:bg-accent hover:drop-shadow-none px-4 py-3", title: "イベント削除" do %>
          <div class="flex items-center justify-center">
            <i class="fa fa-trash fa-sm px-1" aria-hidden="true"></i>
            <p class="text-xs">削除</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
