<p>
  <strong>タイトル</strong>
  <%= @event.title %>
</p>

<p>
  <strong>時間</strong>
  <%= @event.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event, group_id: @group.id) %>
<%= link_to 'Delete', event_path(@event, group_id: @group.id), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
<%= link_to 'Back', group_events_path(@group) %>