<div id="chat_<%= chat.id %>" 
    class="chat, w-full
    data-controller">
  <div class="chat chat-start px-4">
    <div class="chat-image avatar">
      <div class="w-10 rounded-full">
        <% if chat.user.profile_image.present? %>
          <%= image_tag chat.user.profile_image.url, class: "rounded-full h-24 w-24" %>
        <% else %>
          <%= image_tag 'default.png', class: "rounded-full h-24 w-24" %>
        <% end %>
      </div>
    </div>
    <div class="chat-header">
      <%= chat.user.name %>
    </div>
    <div class="chat-bubble chat-bubble-primary"><%= simple_format(chat.body) %></div>
    <div class="chat-footer opacity-50">
      <time class="text-xs opacity-50"><%= chat.created_at.strftime("%Y/%m/%d %H:%M") %></time>
    </div>
  </div>
</div>
