<div class="ticky top-0 navbar bg-secondary text-gray-600 z-10" style="position: -webkit-sticky; position: sticky;">
  <div class="btn btn-ghost text-xl">
      <%= @group.title %>
    </div>
  </div>
<div class="flex flex-col min-h-screen">
<div class="overflow-scroll flex-grow ">
    <div class="text-gray-600 mb-5 px-5 md:px-16", id="scroller_inner">
      <turbo-frame  id="chats">
        <%= turbo_stream_from @group %>
        <%= render @chats %>
      </turbo-frame>
    </div>
  </div>
    <div class="ticky bottom-0" style="position: -webkit-sticky; position: sticky;">
      <%= render partial: "form", locals: { group: @group, chat: @chat } %>
    </div>
  </div>
<div>
 <%= link_to group_events_path(@group), class: "btn fixed bottom-52 md:bottom-36 right-6 md:right-12 rounded-full w-14 py-7 text-primary text-center hover:bg-secondary hover:drop-shadow-none" do %>
    <i class="fa-solid fa-chevron-left fa-lg"></i><% end %>   
</div>
<script>
  function scrollToElement() {
    const scrollerInner = document.getElementById("scroller_inner");
    if (scrollerInner) {
      scrollerInner.scrollIntoView({ block: 'end' });
    }
  }
  document.addEventListener("DOMContentLoaded", scrollToElement);
  document.addEventListener("turbo:load", scrollToElement);
</script>