<div class="navbar bg-secondary bg-opacity-50 text-gray-600">
  <div class="btn btn-ghost text-xl">
    <%= link_to group_events_path(@group) do%>
      <%= @group.title %>
      <% end %>
    </div>
  </div>
<div class="text-gray-600 mb-5 px-5">
  <%= turbo_stream_from @group %>

  <div class="flex flex-col space-y-4">
    <%= render @group.chats %>
  </div>
    
   <%= render 'new'%>
</div>