<div class="navbar bg-secondary bg-opacity-50 text-gray-600">
  <div class="btn btn-ghost text-xl">
    <%= link_to group_events_path(@group) do%>
      <%= @group.title %>
      <% end %>
    </div>
  </div>
<div class="overflow-scroll">
    <div class="text-gray-600 mb-5 px-5 ", id="scroller_inner">
      <turbo-frame  id="chats">
        <%= turbo_stream_from @group %>
        <%= render @chats %>
      </turbo-frame>
    <div>
      <%= render partial: "form", locals: { group: @group, chat: @chat } %>
</div>
<script>
  function scrollToElement() {
    const scrollerInner = document.getElementById("scroller_inner");
    if (scrollerInner) {
      scrollerInner.scrollIntoView({ block: 'end' });
    }
  }
  document.addEventListener("DOMContentLoaded", scrollToElement);
  document.addEventListener("turbo:load", scrollToElement);
</script>

