<div class="simple-calendar text-gray-600">
  <div class="container mx-auto px-2 py-2 md:py-22">
    <div class="bg-white rounded-lg shadow overflow-hidden">
      <div class="flex items-center justify-between py-1 px-6">
        <div>
          <span class="ml-1 text-lg"><%= "#{start_date.year}年" %></span>
          <span class="ml-1 text-lg font-normal"><%= t('date.month_names')[start_date.month] %></span>
        </div>
        <div class="border rounded-lg px-1" style="padding-top: 4px;">
          <button>
            <%= link_to(calendar.url_for_previous_view, type: "button", class: "leading-none rounded-lg transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 items-center") do %>
              <svg class="h-6 w-6 hover:text-accent inline-flex leading-none" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
              </svg>
            <% end %>
          </button>
          <div class="border-r inline-flex h-6"></div>
          <button>
            <%= link_to(calendar.url_for_next_view, type: "button", class: "leading-none rounded-lg transition ease-in-out duration-100 inline-flex items-center cursor-pointer hover:bg-gray-200 p-1") do %>
              <svg class="h-6 w-6 hover:text-accent inline-flex leading-none" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
              </svg>
            <% end %>
          </button>
        </div>
      </div>

      <table class="table">
        <div class="-mx-1 -mb-1">
          <div class="flex flex-wrap border-t border-l">
            <div class="flex flex-wrap" style="margin-bottom: -40px;">
              <thead>
                <tr>
                  <div style="width: 14.26%" class="px-0.5 py-0.5">
                      <% date_range.slice(0, 7).each do |day| %>
                          <th class="text-sm uppercase tracking-wide text-center"><%= t('date.abbr_day_names')[day.wday] %></th>
                      <% end %>
                  </div>
                </tr>
              </thead>
            </div>
          </div>
        </div>
        <tbody>
          <% date_range.each_slice(7) do |week| %>
            <tr>
              <% week.each do |day| %>
                <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                  <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                    <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                  <% else %>
                    <% passed_block.call day, sorted_events.fetch(day, []) %>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
